<%- include('header'); -%>
<%- include('navbar'); -%>
<div class="container">
    <div class="card__container">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                      <p>Crie uma nova sala.</p>
                      <div class="row">
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Código da sala</label>
                        </div>
                        <div class="input-field col s6 btn-action__container">
                            <a class="waves-effect waves-light blue btn">Criar</a>
                        </div>
                    </div>
                  </div>
                  </div>
                  </div>


                  <div class="card horizontal">
                  <div class="card-stacked">
                  <div class="card-content">
                      <p>Ou entre em uma sala já existente.</p>
                      <div class="row">
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Código da sala</label>
                        </div>
                        <div class="input-field col s6 btn-action__container">
                            <a class="waves-effect waves-light blue btn">Entrar</a>
                        </div>
                    </div>
                  </div>
                </div>

          </div>
      </div>
  </div>

<%- include('footer'); -%>