<%- include('header'); -%>
<%- include('navbar'); -%>

<form method="POST" >
<div>
    <input name="user" type="text"/>
    <input name="password" type="password">
    <button type="submit">Entrar</button>
</div>

</form>

<%- include('footer'); -%>