
.card {
   margin: 50px 20px;
    width: 400px;
}

.card__container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.brand-logo img {
    width: 191px;
    margin-left: 14px;
}

.form-cod-room__container {
    display: flex;
    margin: 50px 20px;
}

.btn-action__container {
    display: flex;
    justify-content: center;
}
.frame__container{

    display: grid;
    place-items: center;
}
.card-frame{
    margin-top: 0;
    width: 800px;
}
.card-image__frame {
    width: 800px;
}
.card__btn-action {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.row {
    margin-bottom: 0;
}

.h4 {
    margin: 40px 0;
    text-align: center;
}


.switch label {
    font-size: 18px;
    color: #212121;
}
.switch label .lever::before, .switch label .lever::after {
    width: 30px;
    height: 30px;
    top: -5px;
}
.switch label .lever{
    width: 54px;
    height: 21px;
}
.switch label input[type="checkbox"]:checked + .lever::before, .switch label input[type="checkbox"]:checked + .lever::after {
    left: 28px;
}
.signal-status {
    display: flex;
    align-items: center;
}

.signal-status .round{
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}