
.card {
   margin: 50px 20px;
    width: 400px;
}

.card__container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.brand-logo img {
    width: 191px;
    margin-left: 14px;
}

.form-cod-room__container {
    display: flex;
    margin: 50px 20px;
}

.btn-action__container {
    display: flex;
    justify-content: center;
}
.frame__container{

    display: grid;
    place-items: center;
}
.card-frame{
    margin-top: 0;
    width: 800px;
}
.card-image__frame {
    width: 800px;
}
.card__btn-action {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.row {
    margin-bottom: 0;
}

.h4 {
    margin: 40px 0;
    text-align: center;
}


.switch label {
    font-size: 18px;
    color: #212121;
}
.switch label .lever::before, .switch label .lever::after {
    width: 30px;
    height: 30px;
    top: -5px;
}
.switch label .lever{
    width: 54px;
    height: 21px;
}
.switch label input[type="checkbox"]:checked + .lever::before,
.switch label input[type="checkbox"]:checked + .lever::after {
    left: 28px;
}
.signal-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signal-status .round{
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.card-action{
    display: flex;
    justify-content:start;
    gap: 10px;
    align-items: center;
}
.border-info-card {
    border: 1px solid #e3f2fd;
}


@media (min-width: 300px ) and  (max-width: 768px ){
    nav .signal-status {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: #212121;
        background-color: #eceff1;
        border: 1px solid #cfd8dc;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    }
    .signal-status-footer {
        display: block;
    }
    .card.card-frame,
    .card-image__container ,
    .card-image__frame {
        width: 100%;
    }

    .card__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
        display: block !important;
    }
    .hide-on-med-and-down{
        float: none !important;
    }
    .hide-on-med-and-down li:not(.signal-status) {
      display: none !important;
    }
  }