<%- include('header'); -%>
<%- include('navbar'); -%>
<div class="container">
    <div class="card__container">
      
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                      <p>Crie uma nova sala.</p>
                        <form action="/create-room" method="POST">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="createRoomCode" name="createRoomCode" type="text" class="validate">
                                    <label for="createRoomCode">Código da sala</label>
                                </div>
                                <div class="input-field col s6 btn-action__container">
                                    <button type="submit" class="waves-effect waves-light blue btn">Criar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-action">
                        <i class="material-icons">info_outline</i>
                        <p>Ao criar uma nova sala, a última sala criada será removida.</p>
                      </div>
                  </div>
                  </div>



                  <div class="card horizontal">
                  <div class="card-stacked">
                  <div class="card-content">
                      <p>Ou entre em uma sala já existente.</p>
                      <form action="enter-room" method="POST">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="roomCode" name="roomCode" type="text" class="validate">
                                <label for="roomCode">Código da sala</label>
                            </div>
                            <div class="input-field col s6 btn-action__container">
                                <button type="submit" class="waves-effect waves-light blue btn">Entrar</button>
                            </div>
                        </div>
                        </form>
                  </div>
                  <div class="card-action">
                    <i class="material-icons">info_outline</i>
                    <p>Só é possível entrar em salas que já existem. Crie uma nova sala, se necessário. </p>
                  </div>
                </div>
            </div>
      
      </div>
  </div>

<%- include('footer'); -%>