<%- include('header'); -%>
<%- include('navbar'); -%>
<div class="container">
    <!-- Page Content goes here -->
    <form method="POST">
      <div class="card__container">
                  <div class="card horizontal">
                  <div class="card-stacked">
                  <div class="card-content">
                      <h5>Entre uma nova sala.</h5>
                      <div class="row">
                        <div class="input-field col s12">
                            <input id="room-code" name="roomCode" type="text" class="validate">
                            <label for="room-code">Código da sala</label>
                        </div>
                        <div class="input-field col btn-action__container">
                            <button class="waves-effect blue waves-light btn " type="submit">Entrar</button>
                        </div>
                    </div>
                  </div>
                  <div class="card-action">
                    <i class="material-icons">info_outline</i>
                    <p>Só é possível entrar em salas que já existem. Caso não saiba o código da sala, solicite ao administrador da transmissão. </p>
                  </div>
                </div>

          </div>
      </div>
    </form>

  </div>
  <script src="/enter-room.js" defer></script>
  <%- include('footer'); -%>
