<%- include('header'); -%>
<%- include('navbar'); -%>

    <div class="container">
      <!-- Page Content goes here -->
        <div class="card__container">
               <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Permite criar sala, parar ou inicializar a reprodução das imagens detectadas.</p>
                    </div>
                    <div class="card-action">
                        <a href="create-room" class="waves-effect waves-light blue btn">Entrar como administrador</a>
                    </div>
                    </div>
                    </div>
  

                    <div class="card horizontal">
                    <div class="card-stacked">
                    <div class="card-content">
                        <p>Visualize transmissões do drone.</p>
                    </div>
                    <div class="card-action">
                        <a href="enter-room" class="waves-effect waves-light blue btn">Entrar como usuário</a>
                    </div>
                    </div>

            </div>
        </div>
    </div>
<%- include('footer'); -%>