<%- include('header'); -%>
<%- include('navbar'); -%>

    <div class="container">
      <!-- Page Content goes here -->
      <h4 class="h4">
            Visualização das imagens detectadas
      </h4>
      <div class="frame__container">

          <div class="card card-frame">
              <div class="card-image__container">
                  <img class="card-image__frame"src="/background.png">
                </div>
                <% if (showActionButton) { %>
                    <div class="card-action card__btn-action">
                        <a class="waves-effect waves-light blue btn">Habilitar</a>
                        <a class="waves-effect waves-light blue btn">Desabilitar</a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
<%- include('footer'); -%>